html{background:#333}
body{background:#333;margin:0;padding:0;font-size:12px;font-family:"微软雅黑",Verdana,Geneva,sans-serif}
.ratl{-webkit-border-top-left-radius:4px;-moz-border-top-left-radius:4px;-ms-border-top-left-radius:4px;-o-border-top-left-radius:4px;border-top-left-radius:4px}
.ratr{-webkit-border-top-right-radius:4px;-moz-border-top-right-radius:4px;-ms-border-top-right-radius:4px;-o-border-top-right-radius:4px;border-top-right-radius:4px}
.rabl{-webkit-border-bottom-left-radius:4px;-moz-border-bottom-left-radius:4px;-ms-border-bottom-left-radius:4px;-o-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.rabr{-webkit-border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px;-ms-border-bottom-right-radius:4px;-o-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
ul.step{margin:20px}ul.step li{font-size:1.1em;line-height:30px;list-style:decimal}
ul.step li.active{color:#F60}span.yes{color:#090}span.no{color:#A00}
.main-layout{margin:100px auto;width:800px;height:540px;box-shadow:0 0 15px rgba(0,0,0,0.8)}
.main-title{height:40px;background:#00a2ca;position:relative;box-shadow:0 2px 1px rgba(0,0,0,0.1);line-height:40px;padding:15px;font-size:2em;color:#fff}
.form-area{height:470px;background:#f8f8f8;padding:0 15px}.form-left{float:left;height:390px;width:180px;padding-top:30px}
.form-right{height:390px;width:580px;float:right}.form-right h2{margin:0;padding:0;font-size:1.2em;line-height:40px;height:40px}
.form-right .content{background:#FFF;border:solid 1px #eee;padding:15px;height:350px;overflow-y:auto;line-height:22px}
.foot{width:760px;height:30px}.foot-left{height:30px;float:left;color:#CCC;line-height:30px;padding:10px 0 0 15px}
.foot-right{height:30px;float:right;line-height:30px;padding:10px 0 0 15px}
.form-group .form-label{text-align:right;vertical-align:top;width:150px}